$main-color-navy: #002e5d;
$main-color-dark-gray: #b9b9b9;
$main-color-blue: #2196f3;
$main-color-mid-blue: #1462a1;
$main-color-gray: #c0c0c0;
$main-color-white: #fff;
$main-color-light-white: #f1f1f1;
$main-color-dark-white: #bebebe;
$main-color-black: #000;
$main-color-dark-blue: #040917;
$main-color-deep-blue: #03174e;
$main-color-red: #a71212;
$main-color-dark-red: #690c0c;
